.userContainer {
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 10px;
    max-width: 500px;
    max-height: 100px;
    border-radius: 10px;
    background-color: #bdb5b5;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
}

.avatarContainer {

}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.name {


}

.status {

}